@charset "utf-8";
/* CSS Document */

#backGround {
	background-color: #faf3d6;
	background-image: url(../image/background.jpg);
	
}
#DIVbody{
	position: absolute;
	width: 1333px;
	height: 747px;
	float: left;
	
}

#DIVtop {
	background-image: url(../image/backtop.png);
	position: absolute;
	width: 555px;
	height: 76px;
	top: 20px;
	left: 530px;
	text-align: center;
	
}
topfont{
	position: relative;
	white-space: nowrap;
	width: max-contect;
	font-family: "云烟体";
	font-size: 50px;
	color: #ffcc33;
	-webkit-text-stroke: 0.5px rgb(43,46,46);
}

topfont::after{
	content: '';
	background: #ffcc33;
	border-radius: 100px; 
	width: 0px;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: 100ms;
}

topfont:hover::after{
	width: 100%;
	
}

#steamicon{
	position: absolute;
	background-image: url(../image/steam.png);
	margin-top: 100px;
	width: 109px;
	height: 109px;

}
#steam_titel{
	position: absolute;
	left: 130px;
	top: 123px;
	width: 329px;
	height: 62px;
	background-image: url(../image/backtitle.png);
	text-align: center;
	}
steamtitle{
	position: relative;
	font-family: "云烟体";
	font-size: 45px;
	color: #ffcc33;
	letter-spacing: 5px;
	-webkit-text-stroke: 0.3px rgb(43,46,46);
}
steamtitle::before{
	content: 'Steam';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0%;
	transition: 100ms;
}
steamtitle:hover::before{
	width: 100%;
	color: #003333;
}


#steamtextpage{
	position: absolute;
	background-image: url(../image/text.png);
	width: 434px;
	height: 404px;
	left: 30px;
	top: 10px;
	
	
}
